html
	head
		title Create Room
		style.
			body {
				font-family: Arial, sans-serif;
				background-color: #f4f4f4;
				margin: 0;
				padding: 0;
			}
			h1 {
				text-align: center;
				margin-top: 50px;
				color: #333;
			}
			form {
				max-width: 400px;
				margin: 20px auto;
				background-color: #fff;
				padding: 20px;
				border-radius: 5px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			}
			label {
				font-weight: bold;
			}
			input[type="text"],
			input[type="email"],
			input[type="password"] {
				width: 100%;
				padding: 10px;
				margin: 8px 0;
				border: 1px solid #ccc;
				border-radius: 4px;
				box-sizing: border-box;
			}
			button[type="submit"] {
				width: 100%;
				background-color: #4CAF50;
				color: white;
				padding: 14px 20px;
				margin: 8px 0;
				border: none;
				border-radius: 4px;
				cursor: pointer;
				font-size: 16px;
			}
			button[type="submit"]:hover {
				background-color: #45a049;
			}
			.error-container {
				background-color: #f8d7da; /* Red background color for error */
				color: #721c24; /* Dark red text color */
				padding: 10px; /* Padding around the error message */
				border: 1px solid #f5c6cb; /* Border color for the container */
				border-radius: 4px; /* Rounded corners for the container */
				margin: 10px auto; /* Center the container horizontally */
				width: 300px; /* Set a fixed width for the container */
				text-align: center; /* Center the text horizontally */
			}

	script(src="/javascripts/common.js")
	body
		if(err)
			.error-container
				p.error-message #{msg}
		h1 Create Room
		form(action="/room/create" method="POST")
			label(for="room_name") Name:
			input(type="text", id="room_name", name="room_name", required)
			button(type="submit") Join
